@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;

  --main-color: #2F3F7B;
  --secondary-color: #6272ae;
  --accent-color: #EBC042;
  --secondary-accent-color: #A87B05;
  --dark-color: #041422;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-barlow), Arial, Helvetica, sans-serif;
}

.secondary-font {
    font-family: var(--font-orbitron), 'Times New Roman', Times, serif;
}

img {
    object-fit: cover;
}